# main repo
/node_modules

# common for projects
/**/node_modules

# next.js (client)
/client/.next/
/client/out/
/client/next-env.d.ts

# graphql (server)
/server/dist
/server/.pnpm-store

# local env files
.env
.env*.local
