# Dependencies
node_modules

# Turbo
.turbo

# common for projects
/**/node_modules

# next.js (web)
projects/web/.next/**/*
projects/web/out/
projects/web/next-env.d.ts

# graphql (server)
projects/server/dist
projects/server/.pnpm-store

# local env files
.env
.env*.local

# Misc
.DS_Store
*.pem

# Build Outputs
.next/
out/
build
dist